<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	    = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.pApp"
	versionCode = "1"
	version     = "1.0.0" >
<name>pApp</name>
<description>nothing</description>
<author href="https://prashandip.com.np" email="prashandip2@gmail.com">Lunghim</author>
</widget>
